@use 'breakpoints' as bp; 

.section{
    padding: 0 10%;
    margin-bottom: 5rem;
    @include bp.breakpoint(medium){
        padding: 0 3rem;
        margin-bottom: 10rem;
    }
    @include bp.breakpoint(large){
        padding: 0 8%;
        margin-bottom: 15rem;
    }
}